{% extends 'app/team/index.html' %}
{% block content %}
<style>
   .highlight-prestation {
   background-color: blue;
   color: white; /* Pour que le texte reste lisible sur un fond bleu */
   padding: 0 3px; /* Optionnel, pour ajouter un peu de rembourrage */
   }
   .highlight-option {
   background-color: skyblue;
   color: black; /* Pour que le texte reste lisible sur un fond skyblue */
   padding: 0 3px; /* Optionnel, pour ajouter un peu de rembourrage */
   }
   .highlight-membre {
   background-color: #f1cd9d;
   color: black; /* Pour que le texte reste lisible sur un fond skyblue */
   padding: 0 3px; /* Optionnel, pour ajouter un peu de rembourrage */
   }
</style>
<div class="container">
   {% with prev_date=None %}
   {% for event in lst_event_prio %}
   {% ifchanged event.event_details.date_evenement %}
   {% if prev_date %}
   <hr class="my-4 mx-auto" style="color: #1b1b1b;">
   {% endif %}
   <br>
   <div class="date-block"
      style="background-color:{% cycle '#f0ad4e' '#5bc0de' '#d9534f' '#5cb85c' %}; padding: 10px;">
      <h3 class="text-center">{{ event.event_details.date_evenement }}</h3>
   </div>
   {% endifchanged %}
   <br>
   <div class="card">
      <div class="card-header">
         <h5><a>{{ event.client.nom }}</a></h5>
      </div>
      <div class="card-body">
         <table class="table table-bordered table-striped" style="background-color:white">
            <thead>
               <tr>
                  <th>Prestation</th>
                  <th>Texte</th>
                  <th>URL MODEL</th>
                  <th>URL MUSIC</th>
                  <th>DOSSIER pCLOUD</th>
                  <th>Statut</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     {% if event.event_product.photobooth %} <span class="highlight-prestation">Photobooth</span>
                     , {% endif %}
                     {% if event.event_product.miroirbooth %}<span class="highlight-prestation">Miroirbooth</span>
                     , {% endif %}
                     {% if event.event_product.videobooth %} <span class="highlight-prestation">360Booth</span>
                     , {% endif %}
                     {% if event.event_product.voguebooth %} <span class="highlight-prestation">VogueBooth</span>
                     , {% endif %}
                     {% if event.event_product.ipadbooth %} <span class="highlight-prestation">Ipadbooth</span>
                     , {% endif %}
                  </td>
               <td style="{% if not event.event_template.text_template %}background-color: rgba(255,0,0,0.47);{% endif %}">
                  {{ event.event_template.text_template }}
               </td>

                  <td style="
                     {% if not event.event_product.need_design %}
                     background-color: #e9ecef;
                     background-image: repeating-linear-gradient(
                     45deg,
                     #e9ecef,
                     #e9ecef 10px,
                     #d6d8db 10px,
                     #d6d8db 20px
                     );
                     color: #6c757d;
                     {% elif event.event_template.url_modele %}
                     background-color: rgb(255,255,255);
                     {% else %}
                     background-color: rgba(255,0,0,0.47);
                     {% endif %}
                     padding: 5px;
                     border-radius: 4px;
                     ">
                     {% if event.event_product.need_design %}
                     {% if event.event_template.url_modele %}
                     <a href="{{ event.event_template.url_modele }}" target="_blank" rel="noopener noreferrer">
                     MODELE
                     </a>
                     {% endif %}
                     {% else %}
                     <span>Non applicable</span>
                     {% endif %}
                  </td>
                  <td style="
                     {% if not event.event_product.need_music %}
                     background-color: #e9ecef;
                     background-image: repeating-linear-gradient(
                     45deg,
                     #e9ecef,
                     #e9ecef 10px,
                     #d6d8db 10px,
                     #d6d8db 20px
                     );
                     color: #6c757d;
                     {% elif event.event_template.url_music_360 %}
                     background-color: rgb(255,255,255);
                     {% else %}
                     background-color: rgba(255,0,0,0.47);
                     {% endif %}
                     padding: 5px;
                     border-radius: 4px;
                     ">
                     {% if event.event_product.videobooth %}
                     {% if event.event_template.url_music_360 %}
                     <a href="{{ event.event_template.url_music_360 }}" target="_blank" rel="noopener noreferrer">
                     MUSIC
                     </a>
                     {% endif %}
                     {% else %}
                     <span>Non applicable</span>
                     {% endif %}
                  </td>
                  <td><a href="{{ event.event_template.url_pcloud_template_folder }}">{{ event.event_template.directory_name }}</a></td>
                  <td style="background-color: {% if event.event_template.statut %}#d4edda{% else %}#f8d7da{% endif %}; color: {% if event.event_template.statut %}#155724{% else %}#721c24{% endif %}; padding: 5px; border-radius: 4px;">
                     {% if event.event_template.statut %}
                     Prêt
                     {% else %}
                     Pas OK
                     {% endif %}
                  </td>
               </tr>
            </tbody>
         </table>
         <table id="table_commentaire" class="table table-bordered table-striped" style="background-color:white">
            <thead>
               <tr>
                  <th>Commentaire Client</th>
                  <th>Commentaire</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{ event.event_details.comment_client }}</td>
                  <td>{{ event.event_details.comment }}</td>
               </tr>
            </tbody>
         </table>
         <div class="card-header" style="border-radius: 10px;">
            <h5 class="mb-3">🖼️ Gestion du Modèle de Tirage</h5>
         </div>
         <div class="card p-3"
            style="background-color: white; border: 2px solid {% if event.event_template.image_name %}#28a745{% else %}#dc3545{% endif %}; border-radius: 10px;">
            <!-- Formulaire d'import -->
            <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' event.id %}"
               class="mb-2">
               {% csrf_token %}
               <div class="row align-items-center">
                  <div class="col-md-6">
                     <label for="myTemplate" class="form-label">🎨 Sélectionnez un fichier PNG :</label>
                     <input type="file" name="myTemplate" id="myTemplate" accept="image/png" class="form-control"
                        required>
                  </div>
                  <div class="col-md-3 mt-3 mt-md-0">
                     <button type="submit" class="btn btn-primary w-100">📥 Importer le modèle</button>
                  </div>
               </div>
            </form>
            <!-- Aperçu -->
            <div>
               {% if event.event_template.image_name %}
               <b> <a href="{% url 'view_image' event.id %}" target="_blank">📎 Dernier Modèle actuellement importé </a></b>
               <br>
               {% else %}
               <p class="text-muted">Aucun modèle importé pour l’instant.</p>
               {% endif %}
            </div>
            <br>
            <!-- Formulaire d'envoi -->
            <form method="post" action="{% url 'send_template_to_client' event.id %}" onsubmit="return confirm('Confirmer l’envoi du template au client ?')">
               {% csrf_token %}
               <div class="row align-items-center">
                  <div class="col-md-3">
                     <button type="submit" class="btn btn-warning w-100"
                     {% if not event.event_template.image_name %}disabled{% endif %}>
                     Envoyer au client
                     </button>
                  </div>
               </div>
            </form>
            {% if not event.event_template.image_name %}
            <p class="text-danger mt-2">⚠️ Aucun modèle importé. Vous devez d'abord importer un modèle PNG.</p>
            {% endif %}
         </div>
      </div>
   </div>
   {% endfor %}
   {% endwith %}
</div>
{% endblock %}