{% extends 'app/team/index.html' %}
{% block content %}
    <table id="table" class="table table-bordered table-striped" style="background-color:white">
        <thead>
        <tr>
            <th>NOM</th>
            <th>DATE-EVENT</th>
            <th>Membre</th>
            <th>Presta Payé</th>
            <th>Membre Payé</th>
            <th>Feedback</th>
            <th>Feedback Posté</th>
            <th>Envoi</th>
        </tr>
        </thead>
        <tbody>
        {% for event in lst_post_event %}
        <tr>
            <td><a href="info-event/{{ event.id }}">{{ event.client.nom }}</a></td>
            <td>{{ event.event_details.date_evenement|date:"Y-m-d" }}</td>
            <td>Membre</td>
            <td class="{% if event.post_presta.paid %}bg-success{% else %}bg-danger{% endif %}">
                {% if not event.post_presta.paid %}Pas OK{% else %}Fait{% endif %}
            </td>
            <td class="{% if event.post_presta.membre_paid %}bg-success{% else %}bg-info{% endif %}">
                {% if not event.post_presta.membre_paid %}Pas OK{% else %}Fait{% endif %}
            </td>
            <td class="{% if event.post_presta.feedback %}bg-success{% else %}bg-warning{% endif %}">
                {% if not event.post_presta.feedback %}Pas OK{% else %}Fait{% endif %}
            </td>
            <td class="{% if event.post_presta.feedback_posted %}bg-success{% else %}bg-warning{% endif %}">
                {% if not event.post_presta.feedback_posted %}Pas OK{% else %}Fait{% endif %}
            </td>
            <td class="{% if event.post_presta.sent %}bg-success{% else %}bg-danger{% endif %}">
                {% if not event.post_presta.sent %}Pas OK{% else %}Fait{% endif %}
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}