<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Réservation facile et rapide de photobooth pour vos événements. Photobooth classique, miroir et 360 disponibles.">
    <meta name="keywords"
          content="photobooth, réservation photobooth, photobooth événements, photobooth mariage, photobooth entreprise">
    <meta name="author" content="Votre Nom d'Entreprise">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="MySelfieBooth">
    <meta property="og:description" content="Profitez de nos meilleurs photobooths pour vos événements.">
    <meta property="og:image" content="{% static 'img/logo.ico' %}">
    <meta property="og:url" content="{% static 'img/logo.ico' %}">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Bootstrap CSS uniquement -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <title>MySelfieBooth - Reservation</title>
    <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.0.min.css" type="text/css"/>
    <!-- Bootstrap JS, Popper.js, et jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <!--Bockeh-->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.1.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.1.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.1.0.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MySelfieBooth Paris</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav" style="margin-right: 100px">
        <ul class="navbar-nav">
            {% url 'template' as url %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"
                   style="padding-right: 25px;padding-left: 25px;">Planning</a>
            </li>
            {% url 'post_presta' as url %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"
                   style="padding-right: 25px;padding-left: 25px;">Post Presta</a>
            </li>
            {% url 'lst_devis' as url %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"
                   style="padding-right: 25px;padding-left: 25px;">Liste Devis</a>
            </li>
            {% url 'graph' as url %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"
                   style="padding-right: 25px;padding-left: 25px;">Graph ALL</a>
            </li>
            {% url 'lst_cost' as url %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"
                   style="padding-right: 25px;padding-left: 25px;">Côuts</a>
            </li>
            {% url 'graph_cost' as url %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"
                   style="padding-right: 25px;padding-left: 25px;">Rentabilité</a>
            </li>
            {% url 'graph_cost_pie' as url %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"
                   style="padding-right: 25px;padding-left: 25px;">Annuel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container mt-3" style="background-color: rgba(236,236,236,0.79);">
    {% block content %}
    {% endblock content %}
</main>

<footer class="text-center bg-light text-muted">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 MySelfieBooth Tous droits réservés.
    </div>
</footer>


</body>

<style>
    body {
        background-image: None;
        background-color: rgba(222, 222, 222, 0.55);
    }

    .nav-item {
        font-weight: 500;
        scale: 1.2;
        padding-right: 25px;
        padding-left: 25px;
    }

    .navbar-collapse {
        align-items: center;
    }

</style>
</html>
