{% extends 'app/frontend/index.html' %}
{% block content %}

<style>
    h1, h4 {
      margin-bottom: 10px;
      margin-top: 10px;
      font-family: "Arial Black", Gadget, sans-serif;
      letter-spacing: -1px;
      word-spacing: 0.6px;
      font-weight: 400;
      color: white;
      text-shadow: 0px 1px 4px black, 2px 1px 2px black, 8px 4px 20px #fffbdb, -3px -1px 11px #fffca6;
      font-weight : bold;
    }
</style>

          <div class="row d-flex justify-content-center">
<h1>Merci d'avoir rempli le formulaire</h1>   </div>
                        <div class="row">
<h4>Vous allez recevoir le devis par mail après validation de notre équipe.</h4>
   </div>
{% endblock %}
