{% extends 'app/page_client/base_client.html' %}
{% block content %}
<div class="container">
   <h4>Bienvenue {{ event.client.nom }} !</h4>
   {% if not event.event_details.horaire or not event.event_template.text_template or not event.event_template.url_modele %}
   <div class="info-block alert alert-warning">
      <p>Les informations suivantes sont à compléter :</p>
      <ul>
         {% if not event.event_details.horaire %}
         <li>Horaire de la prestation</li>
         {% endif %}
         {% if not event.event_template.text_template %}
         <li>Texte du modèle</li>
         {% endif %}
         {% if not event.event_template.url_modele %}
         <li>Modèle de tirage</li>
         {% endif %}
      </ul>
   </div>
   {% else %} 
   <div class="info-block alert alert-success">
        <p>Merci ! Toutes les informations nécessaires sont complètes.</p>
       </div>
   {% endif %}

   <br>
   <div class="info-block" >
      <h5>Informations Prestation</h5>
      {%  if event.num_devis %}
      <div class="info-row">
         <div class="info-label">N° Devis:</div>
         <div class="info-value">{{ event.num_devis }}</div>
      </div>
      {% endif %}
      <div class="info-label">Prestations:</div>
      <div class="info-content">
         {% if event.event_product.photobooth %}<span class="highlight-prestation">Photobooth</span>{% endif %}
         {% if event.event_product.miroirbooth %}<span class="highlight-prestation">Miroirbooth</span>{% endif %}
         {% if event.event_product.videobooth %}<span class="highlight-prestation">360Booth</span>{% endif %}
         {% if event.event_product.voguebooth %}<span class="highlight-prestation">VogueBooth</span>{% endif %}
         {% if event.event_product.ipadbooth %}<span class="highlight-prestation">Ipadbooth</span>{% endif %}
      </div>
      <div class="info-row">
         <div class="info-label">Durée:</div>
         <div class="info-value">{{ event.event_option.duree }}h</div>
      </div>
      <div class="info-label">Options:</div>
      <div class="info-content">
         {% if event.event_option.MurFloral %}<span class="highlight-option">MurFloral</span>{% endif %}
         {% if event.event_option.Phonebooth %}<span class="highlight-option">Phonebooth</span>{% endif %}
         {% if event.event_option.LivreOr %}<span class="highlight-option">LivreDor</span>{% endif %}
         {% if event.event_option.Fond360 %}<span class="highlight-option">Fond360</span>{% endif %}
         {% if event.event_option.PanneauBienvenue %}<span class="highlight-option">PanneauDeBienvenue</span>{% endif %}
         {% if event.event_option.Holo3D %}<span class="highlight-option">Holo3D</span>{% endif %}
         {% if event.event_option.magnets != 0 %}<span class="highlight-option">Magnets</span>{% endif %}
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#optionsModal">
         Ajouter des options
         </button>
      </div>
   </div>
   <div class="info-block">
      <h5>Informations évènement</h5>
      <div class="info-row">
         <div class="info-label">Adresse:</div>
         <div class="info-value">{{ event.event_details.adresse_evenement }}, {{ event.event_details.code_postal_evenement }} {{ event.event_details.ville_evenement }}</div>
      </div>
      <div class="info-row">
         <div class="info-label">Horaire début de la prestation:</div>
         <div class="info-value">{{ event.event_details.horaire }}</div>
      </div>
      <div class="info-row">
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#horaireModal">
         {% if event.event_details.horaire %}
         Modifier l'horaire
         {% else %}
         Définir l'horaire
         {% endif %}
         </button>
      </div>
   </div>
   <div class="info-block">
      <h5>Design</h5>
      <div class="info-row">
         <div class="info-label">Model de Tirage:</div>
         <div class="info-value">{{ event.event_template.url_modele }}</div>
      </div>
      <div class="info-row">
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#templateModal">
         {% if event.event_template.url_modele %}
         Modifier le Modèle de Tirage
         {% else %}
         Choisir le Modèle de Tirage
         {% endif %}
         </button>
      </div>
      <div class="info-row">
         <div class="info-label">Texte:</div>
         <div class="info-value">{{ event.event_template.text_template }}</div>
      </div>
      <div class="info-row">
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#textModal">
         {% if event.event_template.text_template %}
         Modifier le texte
         {% else %}
         Choisir le texte à mettre
         {% endif %}
         </button>
      </div>
   </div>
   <div class="info-block">
      <h5>Informations supplémentaires</h5>
      <div class="info-row">
         <div class="info-label">Commentaire (Optionel): </div>
         <div class="info-value">{{ event.event_details.comment_client }}</div>
      </div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentaireModal">
      {% if event.event_details.comment_client %}
      Modifier un commentaire
      {% else %}
      Ajouter un commentaire
      {% endif %}
      </button>
   </div>
</div>
    
<!-- Modal for editing horaire -->
<div class="modal fade" id="horaireModal" tabindex="-1" role="dialog" aria-labelledby="horaireModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="horaireModalLabel">{% if event.event_details.horaire %}Modifier l'horaire{% else %}Ajouter l'horaire{% endif %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <form method="post" action="{% url 'edit_horaire' event.id %}">
            {% csrf_token %}
            <div class="modal-body">
                   <div class="info-block alert alert-warning">
                <p>Pour information nous serons présent 1h avant le début pour l'instalation</p>
                       </div>
               <div class="form-group">
                  <label for="horaire">Horaire début prestation:</label>
                  <input type="time" class="form-control" id="horaire" name="horaire" value="{{ event.event_details.horaire }}" placeholder="Entrez le nouvel horaire">
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
               <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
         </form>
      </div>
   </div>
</div>
    
<!-- Modal for editing texte -->
<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="textModalLabel">Ajouter/Modifier le texte</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <form method="post" action="{% url 'edit_text' event.id %}">
            {% csrf_token %}
            <div class="modal-body">
               <div class="form-group">
                  <label for="text_template">Texte à mettre :</label>
                  <textarea class="form-control" id="text_template" name="text_template" rows="3">{{ event.event_template.text_template }}</textarea>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
               <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
         </form>
      </div>
   </div>
</div>
    
<!-- Modal for adding/editing commentaire client -->
<div class="modal fade" id="commentaireModal" tabindex="-1" role="dialog" aria-labelledby="commentaireModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="commentaireModalLabel">Ajouter/Modifier un commentaire</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <form method="post" action="{% url 'edit_comment' event.id %}">
            {% csrf_token %}
            <div class="modal-body">
               <div class="form-group">
                  <label for="comment_client">Commentaire:</label>
                  <textarea class="form-control" id="comment_client" name="comment_client" rows="3">{{ event.event_details.comment_client }}</textarea>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
               <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
         </form>
      </div>
   </div>
</div>
    
<!-- Modal for adding options -->
<div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="optionModalLabel">Ajouter des Options</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <p>Pour l'ajout d'options,<br>merci de nous contacter au <a href="tel:0699733998">0699733998</a><br>ou par mail <a href="mailto:contact@myselfiebooth-paris.fr">contact@myselfiebooth-paris.fr</a></p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
         </div>
      </div>
   </div>
</div>
    
{% endblock %}