{% extends 'app/page_client/base_client.html' %}
{% block content %}
    

<div class="row d-flex justify-content-center">
  <h1>Espace Client MySelfieBooth</h1>
</div>
<div class="row">
</div><br>
    {% if error_message %}
  <div class="row d-flex justify-content-center">
    <div class="alert alert-danger" role="alert">
      {{ error_message }}
    </div>  </div>
{% endif %}

<form method="post" id="monFormulaire">
   {% csrf_token %}
  <div>
    <label for="id_mail" class="form-label">Mail (présent sur le devis) :</label>
    <input type="email" class="form-control" id="id_mail" name="mail" required value="{{ form.mail }}" aria-label="Adresse e-mail">
    <br>
    <label for="id_date_evenement" class="form-label">Date de l'événement :</label>
    <input type="date" class="form-control" id="id_date_evenement" name="date_evenement" required value="{{ form.date_evenement }}" aria-label="Date de l'événement">
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit">
      Valider
    </button>
  </div>
</form>

{% endblock %}
