<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rappel de Devis MySelfieBooth</title>
    <style>
        /* Styles généraux peuvent être ajoutés ici */
    </style>
</head>
<body style="margin: 0;padding: 0;background-color: #fff2e4 ;font-family: Arial, sans-serif;">
<table width="100%" align="center" style="max-width: 1000px;margin: auto;background-color: #000000;">
    <tbody>
    <!-- En-tête avec logo -->
    <tr>
        <td align="center">
            <a href="https://myselfiebooth-paris.fr/" target="_blank" style="display: inline-block;">
                <img src="https://mcusercontent.com/2c82a9e7bffebfab5cb181400/images/2f88c980-8d24-76b1-0cd5-18977d464211.png"
                     width="150" height="auto" style="display: block; width: 150px; height: auto; max-width: 100%;"
                     alt="Logo MySelfieBooth" role="presentation">
            </a>
        </td>
    </tr>
    </tbody>
</table>
<table width="100%" align="center" style="max-width: 700px;margin: auto;">
    <tbody>
    <!-- Contenu principal -->
    <tr>
        <td align="center" style="padding: 0px 20px;">
            <br>
            <table width="100%" style="max-width: 500px; margin: auto;">
                <tbody>
                <tr>
                    <td>
                        <table role="presentation" class="mceClusterLayout" align="center" valign="top"
                               style="padding-bottom: 20;">
                            <tbody>
                            <tr>
                                <td style="padding-left:10px;padding-right:10px">
                                    <a href="https://www.instagram.com/p/CwnVM8pKD93/" style="display:block"
                                       target="_blank"><img width="140" height="auto"
                                                            style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block"
                                                            alt="Post Instagram 1"
                                                            src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/18013115560722157/thumb/369707255_631259045777531_8171012913048138835_n.jpg"
                                                            role="presentation"></a>
                                </td>
                                <td style="padding-left:10px;padding-right:10px">
                                    <a href="https://www.instagram.com/p/CwiNkrDKG7l/" style="display:block"
                                       target="_blank"><img width="140" height="auto"
                                                            style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block"
                                                            alt="Post Instagram 2"
                                                            src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/17999398502038031/thumb/369710619_630251709211598_5962374642370042347_n.jpg"
                                                            role="presentation"></a>
                                </td>
                                <td style="padding-left:10px;padding-right:10px">
                                    <a href="https://www.instagram.com/p/CursfYCqnV0/" style="display:block"
                                       target="_blank"><img width="140" height="auto"
                                                            style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block"
                                                            alt="Post Instagram 3"
                                                            src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/17884910831887425/thumb/348583334_607893248114111_7071134150613489965_n.jpg"
                                                            role="presentation"></a>
                                </td>
                                <td style="padding-left:10px;padding-right:10px">
                                    <a href="https://www.instagram.com/p/CtZsKfjo3Rv/" style="display:block"
                                       target="_blank"><img width="140" height="auto"
                                                            style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block"
                                                            alt="Post Instagram 4"
                                                            src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/17989978136066555/thumb/347444663_588581093378660_7778159767232458402_n.jpg"
                                                            role="presentation"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <h4 class="reduc"
                            style="color: #000000; font-size: 31px; font-weight: normal; font-family: serif;">Votre
                            offre de <a class="reduc_all_title"><b>-[reduc]€</b></a> <br>a été prolongée ! 🎊</h4>

                        <p style="color: #000000; font-size: 15px;">Bonjour <b class="client_nom">[Nom du Client]</b>,
                        </p>
                        <p style="color: #000000; font-size: 15px; line-height: 1.5;">📆 Avez-vous eu le temps de
                            réserver votre photobooth ?</p>
                        <p style="color: #000000; font-size: 15px; line-height: 1.5;">Nous sommes impatients de faire de
                            votre événement du <b><a class="date_event"> [date de l'évènement]</a></b> un moment
                            mémorable ! Votre devis est toujours disponible.</p>
                        <p style="color: #000000; font-size: 15px; line-height: 1.5;">Ne manquez pas notre offre
                            spéciale avant qu'elle ne s'éteigne ! Réservez dès maintenant en ligne ou contactez-nous
                            pour toute question. Nous sommes là pour vous aider ! ✨</p>
                    </td>

                </tr>
                <tr>
                    <td align="center">
                        <hr style="margin: 20;">
                        <b>Acompte et Modalité de Payement</b>
                        <p></p>
                        <p style="color: #000000; font-size: 15px;line-height: 1.5;">
                            Pour réserver
                            <a class="txt_reduc">[et bénéficier de la reduction de ]</a>
                            <a class="reduc_all"><b>[REDUC]€</b></a>
                            : Un acompte de <b class="acompte">[ACCOMPTE]</b> est à
                            verser avant le <b class="date_butoire">[DATE BUTOIRE]</b>. Le reste est à payer au moment
                            de la livraison ou au moins 2 jours avant l’évènement par virement.</p>
                        <p style="color: #000000; font-size: 15px;line-height: 1.5;">Vous pouvez payer par virement,
                            Paylib, Paypal (<a href="https://paypal.me/3dmouvstudio">paypal.me/3dmouvstudio</a>), Lydia
                            ou par espèces si vous pouvez vous déplacer (Versailles / Vernon / Melun).</p>
                        <hr style="margin: 20;">
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-bottom: 15px;">
                        <a href="https://myselfiebooth-paris.fr" target="_blank"
                           style="background-color:#c98e17;border-radius: 50px;color: #ffffff;display: inline-block;font-size: 16px;font-weight: normal;text-decoration: none;padding: 16px 28px;min-width: 30px;text-align: center;box-shadow: 0px 2px 4px rgb(0 0 0);">Visitez
                            notre Site Internet</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table width="100%" align="center" style="max-width: 700px;margin: auto;">
    <tbody>
    <!-- Pied de page avec lien vers Instagram -->
    <tr>
        <td style="padding-bottom:12px;padding-right:0;padding-left:0;"
            class="mceBlockContainer" align="center" valign="top">
            <a href="https://myselfiebooth-paris.fr/" style="display:block" target="_blank"><img width="422"
                                                                                                 height="auto"
                                                                                                 style="border:0;width:422px;height:auto;max-width:100%;display:block"
                                                                                                 alt="Bannière Instagram"
                                                                                                 src="https://mcusercontent.com/2c82a9e7bffebfab5cb181400/images/4a448ebf-5b3b-10c3-86e5-0e2da6ba6f43.jpg"
                                                                                                 role="presentation"></a>
        </td>
    </tr>
    <!-- Bas de page avec lien vers afficher dans le navigateur -->
    <tr>
        <td align="center" style="padding: 24px; background-color: #1b1b1b">
            <p style="color: #606060; font-size: 12px;">
                Envoyé à: 
                <a style="color: #9c9c9c; font-size: 12px;" class="mail_client">{{ client_email }}</a>
            </p>
            <p style="color: #606060; font-size: 12px;">
                <a class="mail_desabonnement" href="" style="color: #606060; font-size: 12px;">Se désabonner</a>
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
