<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Espace Clients MySelfieBooth</title>
   <style>
      /* Styles généraux peuvent être ajoutés ici */
   </style>
</head>
<body style="margin: 0;padding: 0;background-color: #fff9df00;font-family: Arial, sans-serif;">
   <table width="100%" align="center" style="max-width: 1000px;margin: auto;background-color: #000000;">
      <tbody>
         <!-- En-tête avec logo -->
         <tr>
            <td align="center">
               <a href="https://myselfiebooth-paris.fr/" target="_blank" style="display: inline-block;">
                  <img src="https://mcusercontent.com/2c82a9e7bffebfab5cb181400/images/2f88c980-8d24-76b1-0cd5-18977d464211.png" width="150" height="auto" style="display: block; width: 150px; height: auto; max-width: 100%;" alt="Logo MySelfieBooth" role="presentation">
               </a>
            </td>
         </tr>
      </tbody>
   </table>
   <table width="100%" align="center" style="max-width: 700px;margin: auto;background-color: #fff9dfa3;">
      <tbody>
         <!-- Contenu principal -->
         <tr>
            <td align="center" style="padding: 0px 20px 0px 20px;">
               <br>
               <table width="100%" style="max-width: 500px; margin: auto;">
                  <tbody>
                     <tr>
                        <td>
                           <table role="presentation" align="center" valign="top" style="padding-bottom: 20px;">
                              <tbody>
                                 <tr>
                                    <td style="padding-left:9.999996px;padding-right:9.999996px">
                                       <a href="https://www.instagram.com/p/CwnVM8pKD93/" style="display:block" target="_blank"><img width="140" height="auto" style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block" alt="369707255_631259045777531_8171012913048138835_n" src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/18013115560722157/thumb/369707255_631259045777531_8171012913048138835_n.jpg" role="presentation"></a>
                                    </td>
                                    <td style="padding-left:9.999996px;padding-right:9.999996px">
                                       <a href="https://www.instagram.com/p/CwiNkrDKG7l/" style="display:block" target="_blank"><img width="140" height="auto" style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block" alt="369710619_630251709211598_5962374642370042347_n" src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/17999398502038031/thumb/369710619_630251709211598_5962374642370042347_n.jpg" role="presentation"></a>
                                    </td>
                                    <td style="padding-left:9.999996px;padding-right:9.999996px">
                                       <a href="https://www.instagram.com/p/CursfYCqnV0/" style="display:block" target="_blank"><img width="140" height="auto" style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block" alt="348583334_607893248114111_7071134150613489965_n" src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/17884910831887425/thumb/348583334_607893248114111_7071134150613489965_n.jpg" role="presentation"></a>
                                    </td>
                                    <td style="padding-left:9.999996px;padding-right:9.999996px">
                                       <a href="https://www.instagram.com/p/CtZsKfjo3Rv/" style="display:block" target="_blank"><img width="140" height="auto" style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block" alt="347444663_588581093378660_7778159767232458402_n" src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/17989978136066555/thumb/347444663_588581093378660_7778159767232458402_n.jpg" role="presentation"></a>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                     <tr><td align="center">
<h1 style="color: #ff0000; font-size: 31px; font-weight: bold; font-family: serif;">Action requise : Complétez votre espace client</h1>
<p style="color: #000000; font-size: 15px;">Bonjour <b class="client_nom">[Nom du Client]</b>,</p>
<p style="line-height: 1.5; font-size: 16px; color: #333;">
Nous espérons que vous allez bien. Nous avons remarqué que certaines informations concernant votre événement du <b><a class="date_event"> [date de l'évènement]</a></b> n'ont pas encore été complétées dans votre espace client.
</p>
<p style="line-height: 1.5; font-size: 16px; color: #333;">
Pour rappel, voici les éléments à renseigner :
</p>
<ul style="line-height: 1.5; color: #333;">
   <li>🕒 L'horaire de début de prestation</li>
   <li>📸 Le modèle de tirage</li>
   <li>✍️ Le texte personnalisé</li>
</ul>
<p style="line-height: 1.5; font-size: 16px; color: #333;">
💡 Nous vous rappelons que toutes ces informations doivent être renseignées au moins une semaines avant la date de votre événement.
</p>

                           <p style="padding: 5px 10px 10px 10px"><a href="https://reservation.myselfiebooth-paris.fr/espace_client/" style="background-color:#a98a0e;border-radius: 50px;color: #ffffff;display: inline-block;font-size: 16px;font-weight: normal;text-decoration: none;padding: 16px 28px;min-width: 30px;text-align: center;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);box-shadow: 0px 2px 4px rgb(0 0 0);">Accéder à mon espace client</a></p>
                                                                               <hr style="margin: 10px 0px 20px 20px;">

                           <p style=<"line-height:1.5;">Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter au <a href="tel:0699733998">0699733998</a><br>
               ou par mail <a href="mailto:contact@myselfiebooth-paris.fr">contact@myselfiebooth-paris.fr</a>
            </p>

                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
   <table width="100%" align="center" style="max-width: 700px;margin: auto;">
      <tbody>
         <!-- Pied de page avec lien vers Instagram -->
         <tr>
            <td style="padding-bottom:12px;padding-right:0;padding-left:0;background-color: #fff9dfa3;" align="center" valign="top">
               <a href="https://myselfiebooth-paris.fr/" style="display:block" target="_blank"><img width="422" height="auto" style="border:0;width:422px;height:auto;max-width:100%;display:block" alt="4a448ebf-5b3b-10c3-86e5-0e2da6ba6f43" src="https://mcusercontent.com/2c82a9e7bffebfab5cb181400/images/4a448ebf-5b3b-10c3-86e5-0e2da6ba6f43.jpg" role="presentation"></a>
            </td>
         </tr>
      </tbody>
   </table>
</body>
</html>
