<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sondage MySelfieBooth</title>
   <style>
      /* Styles généraux peuvent être ajoutés ici */
   </style>
</head>
<body style="margin: 0;padding: 0;background-color: #fff9df00;font-family: Arial, sans-serif;">
   <table width="100%" align="center" style="max-width: 1000px;margin: auto;background-color: #000000;">
      <tbody>
         <!-- En-tête avec logo -->
         <tr>
            <td align="center">
               <a href="https://myselfiebooth-paris.fr/" target="_blank" style="display: inline-block;">
                  <img src="https://mcusercontent.com/2c82a9e7bffebfab5cb181400/images/2f88c980-8d24-76b1-0cd5-18977d464211.png" width="150" height="auto" style="display: block; width: 150px; height: auto; max-width: 100%;" alt="Logo MySelfieBooth" role="presentation">
               </a>
            </td>
         </tr>
      </tbody>
   </table>
   <table width="100%" align="center" style="max-width: 700px;margin: auto;background-color: #fff9dfa3;">
      <tbody>
         <!-- Contenu principal -->
         <tr>
            <td align="center" style="padding: 0px 20px 0px 20px;">
               <br>
               <table width="100%" style="max-width: 500px; margin: auto;">
                  <tbody>
                                  <tr>
                    <td>
                        <table role="presentation" class="mceClusterLayout" align="center" valign="top"
                               style="padding-bottom: 20;">
                            <tbody>
                            <tr>
                                <td style="padding-left:10px;padding-right:10px">
                                    <a href="https://www.instagram.com/p/CwnVM8pKD93/" style="display:block"
                                       target="_blank"><img width="140" height="auto"
                                                            style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block"
                                                            alt="Post Instagram 1"
                                                            src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/18013115560722157/thumb/369707255_631259045777531_8171012913048138835_n.jpg"
                                                            role="presentation"></a>
                                </td>
                                <td style="padding-left:10px;padding-right:10px">
                                    <a href="https://www.instagram.com/p/DBrUHYgOvCl/" style="display:block"
                                       target="_blank"><img width="140" height="auto"
                                                            style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block"
                                                            alt="Post Instagram 2"
                                                            src="https://scontent-cdg4-1.cdninstagram.com/v/t39.30808-6/464956787_877458617824238_333936710868857467_n.jpg?stp=dst-jpg_e35_tt7&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4yMDAweDIwMDAuc2RyLmYzMDgwOC5kZWZhdWx0X2ltYWdlIn0&_nc_ht=scontent-cdg4-1.cdninstagram.com&_nc_cat=102&_nc_ohc=A53tPgrU1ZEQ7kNvgFw-66P&_nc_gid=12ca28c5411d4a1e83912496b1036050&edm=AP4sbd4AAAAA&ccb=7-5&ig_cache_key=MzQ4ODk3MDgwNDYwNTY3NzczMw%3D%3D.3-ccb7-5&oh=00_AYAZoAg6xs7pnnmLb9xAKYGMzeTxtmaBWiUJ2qfqcokPbw&oe=675B7802&_nc_sid=7a9f4b"
                                                            role="presentation"></a>
                                </td>
                                <td style="padding-left:10px;padding-right:10px">
                                    <a href="https://www.instagram.com/p/CursfYCqnV0/" style="display:block"
                                       target="_blank"><img width="140" height="auto"
                                                            style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block"
                                                            alt="Post Instagram 3"
                                                            src="https://storage.googleapis.com/mc-instagram-extension-assets-prod/186031486/17884910831887425/thumb/348583334_607893248114111_7071134150613489965_n.jpg"
                                                            role="presentation"></a>
                                </td>
                                <td style="padding-left:10px;padding-right:10px">
                                    <a href="https://www.instagram.com/p/DAY5pTqtabJ/" style="display:block"
                                       target="_blank"><img width="140" height="auto"
                                                            style="border:0;width:140px;height:auto;max-width:100%;border-radius:4px;display:block"
                                                            alt="Post Instagram 4"
                                                            src=https://scontent-cdg4-1.cdninstagram.com/v/t39.30808-6/461326724_854684520101648_7994780893064317781_n.jpg?stp=dst-jpg_e35_tt7&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4yMDAweDIwMDAuc2RyLmYzMDgwOC5kZWZhdWx0X2ltYWdlIn0&_nc_ht=scontent-cdg4-1.cdninstagram.com&_nc_cat=108&_nc_ohc=Go9zk9jFYqQQ7kNvgFhJjbk&_nc_gid=dabcfbb032e547ce9c2118c77f81d5f8&edm=AP4sbd4AAAAA&ccb=7-5&ig_cache_key=MzQ2NTc3MzQ0MDUyODkxODIxNw%3D%3D.3-ccb7-5&oh=00_AYCqhme7ZxG7zxtSyYiQOAxGY-VB4kwTJ_Qc3M4uHF9msA&oe=675B82C6&_nc_sid=7a9f4b
                                                            role="presentation"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                     <tr><td align="center">
   <h1 style="color: #000000; font-size: 31px; font-weight: normal; font-family: serif;"> Nous avons besoin de vous !</h1>
   <p style="color: #000000; font-size: 15px;">Bonjour <b class="client_nom">[Nom du Destinataire]</b>,</p>
   <p style="line-height: 1.5; font-size: 16px; color: #333;">
       Chez MySelfieBooth, nous nous efforçons de rendre chaque événement unique et mémorable. 🎉</p>
   <p style="line-height: 1.5; font-size: 16px; color: #333;">
       Afin de continuer à améliorer nos services, nous vous invitons à partager votre avis sur l'implication et le travail de notre alternant. Même si vous n'avez pas directement utilisé nos services, votre retour d'expérience peut nous être précieux. 🙏</p>
</td>

                     </tr>
                     <tr>
                        <td align="center">
                           <p style="padding: 5px 10px 10px 10px">
                              <a href="https://docs.google.com/forms/d/e/1FAIpQLScYPiWXqfRZKCU3KOPN8ZDVCoCAlpC4LxLWqGno3bwGDsKCmA/viewform" style="background-color:#a98a0e;border-radius: 50px;color: #ffffff;display: inline-block;font-size: 16px;font-weight: normal;text-decoration: none;padding: 16px 28px;min-width: 30px;text-align: center;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);box-shadow: 0px 2px 4px rgb(0 0 0);">Remplir le sondage</a>
                           </p>
                           <hr style="margin: 10px 0px 20px 20px;">
                           <p style="line-height:1.5;">Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter au <a href="tel:0699733998">0699733998</a><br>
               ou par mail <a href="mailto:contact@myselfiebooth-paris.fr">contact@myselfiebooth-paris.fr</a>
            </p>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
   <table width="100%" align="center" style="max-width: 700px;margin: auto;">
      <tbody>
         <!-- Pied de page avec lien vers Instagram -->
         <tr>
            <td style="padding-bottom:12px;padding-right:0;padding-left:0;background-color: #fff9dfa3;" align="center" valign="top">
               <a href="https://myselfiebooth-paris.fr/" style="display:block" target="_blank"><img width="422" height="auto" style="border:0;width:422px;height:auto;max-width:100%;display:block" alt="4a448ebf-5b3b-10c3-86e5-0e2da6ba6f43" src="https://mcusercontent.com/2c82a9e7bffebfab5cb181400/images/4a448ebf-5b3b-10c3-86e5-0e2da6ba6f43.jpg" role="presentation"></a>
            </td>
         </tr>
          <tr>
        <td align="center"
            style="padding: 20px; background: linear-gradient(135deg, rgb(132,110,72), rgba(255,229,185,0.8), rgb(133,111,72));">
            <p style="color: #606060; font-size: 12px;">
                Envoyé à : <b>[mail_client]</b>
                <br>
                <a href="" style="color: #9c9c9c; text-decoration: underline;">Se désabonner</a>
            </p>
        </td>
    </tr>
      </tbody>
   </table>
</body>
</html>
