<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offre Black Friday MySelfieBooth</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body style="margin: 0; padding: 0; background-color: rgba(255,248,166,0.64); font-family: Arial, sans-serif;">
<table width="100%" align="center" style="max-width: 1000px; margin: auto; background-color: #000000;">
    <tbody>
    <tr>
        <td align="center">
            <a href="https://myselfiebooth-paris.fr/" target="_blank" style="display: inline-block;">
                <img src="https://mcusercontent.com/2c82a9e7bffebfab5cb181400/images/2f88c980-8d24-76b1-0cd5-18977d464211.png"
                     width="150" height="auto" style="display: block; width: 150px; height: auto; max-width: 100%;"
                     alt="Logo MySelfieBooth" role="presentation">
            </a>
        </td>
    </tr>
    </tbody>
</table>
<table width="100%" align="center" style="max-width: 700px; margin: auto; background: linear-gradient(135deg, rgba(255,231,129,0.9), rgba(255,206,166,0.8), rgba(140,110,45,0.7));
">
    <tbody>
    <tr>
        <td align="center" style="padding: 20px;">
            <h4 style="color: #000000; font-size: 31px; font-family: serif; font-weight: normal;">
                🎉 Offre Black Friday :
                <b>-50€ supplémentaires</b> ! 🖤✨
            </h4>
            <p style="color: #000000; font-size: 15px;">
                Bonjour <b class="client_nom">[Nom du Client]</b>,
            </p>
            <p style="color: #000000; font-size: 15px; line-height: 1.5;">
                Cette année, pour le <b>Black Friday</b>, nous avons une surprise pour vous !
                Profitez d’une réduction de <b>50€ supplémentaire</b> sur votre réservation.
            </p>
            <p style="color: #000000; font-size: 15px; line-height: 1.5;">
                📅 Date limite : <b>30 novembre 2024</b> – Après cette date, cette offre exclusive disparaîtra !
            </p>
            <p style="color: #000000; font-size: 15px; line-height: 1.5;">
                Rendez votre événement du <a class="date_event">[date de l'événement]</a> encore plus mémorable avec un
                photobooth unique.
                Réservez dès maintenant pour profiter de cette offre exceptionnelle.
            </p>
            <hr style="margin: 20;">
            <b>Acompte et Modalité de Payement</b>
            <p></p>
            <p style="color: #000000; font-size: 15px;line-height: 1.5;">
                Pour réserver
                <a class="txt_reduc">[et bénéficier de la reduction de ]</a>
                <a class="reduc_all"><b>[REDUC]€</b></a>
                : Un acompte de <b class="acompte">[ACCOMPTE]</b> est à
                verser avant le <b class="date_butoire">[DATE BUTOIRE]</b>. Le reste est à payer au moment
                de la livraison ou au moins 2 jours avant l’évènement par virement.</p>
            <p style="color: #000000; font-size: 15px;line-height: 1.5;">Vous pouvez payer par virement,
                Paylib, Paypal (<a href="https://paypal.me/3dmouvstudio">paypal.me/3dmouvstudio</a>), Lydia
                ou par espèces si vous pouvez vous déplacer (Vernon / Melun).</p>
            <hr style="margin: 20;">
            <p></p>
        </td>
    </tr>
    </tbody>
</table>
<table width="100%" align="center" style="max-width: 700px; margin: auto;">
    <tbody>
    <tr>
        <td style="padding: 20px; background: linear-gradient(135deg, rgba(255,231,129,0.9), rgba(255,206,166,0.8), rgba(140,110,45,0.7));"
            align="center">
            <a href="https://myselfiebooth-paris.fr/" target="_blank">
                <img src="https://mcusercontent.com/2c82a9e7bffebfab5cb181400/images/4a448ebf-5b3b-10c3-86e5-0e2da6ba6f43.jpg"
                     width="422" height="auto" style="display: block; max-width: 100%; height: auto;" alt="Instagram">
            </a>
        </td>
    </tr>
    <tr>
        <td align="center"
            style="padding: 20px; background: linear-gradient(135deg, rgba(255,231,129,0.9), rgba(255,206,166,0.8), rgba(140,110,45,0.7))">
            <p style="color: #606060; font-size: 12px;">
                Envoyé à : <b>[mail_client]</b>
                <br>
                <a href="" style="color: #9c9c9c; text-decoration: underline;">Se désabonner</a>
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
