<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Réservation facile et rapide de photobooth pour vos événements. Photobooth classique, miroir et 360 disponibles.">
    <meta name="keywords" content="photobooth, réservation photobooth, photobooth événements, photobooth mariage, photobooth entreprise">
    <meta name="author" content="Votre Nom d'Entreprise">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="MySelfieBooth">
    <meta property="og:description" content="Profitez de nos meilleurs photobooths pour vos événements.">
    <meta property="og:image" content="URL_de_votre_image">
    <meta property="og:url" content="URL_de_votre_site_web">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <title>Accueil - Photobooth</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MySelfieBooth Paris</a>
        </div>
    </nav>

    <main class="container mt-4 d-flex align-items-center justify-content-center">
    {% block content %}
    {% endblock content %}
    </main>

  <div class="card-footer text-muted">
    2 days ago
  </div>

    </body>
</html>
