{% extends 'app/base.html' %}
{% block content %}

<style>
body {
    background-image: None;
}

</style>

<div class="container">
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                Connectez-vous pour accéder à l'application
            </p>

            <form action="{% url 'login' %}" method="post">

                {% csrf_token %}

                <input type="hidden" name="next" value="{{ next }}">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="identifiant..." name="username">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="mot de passe..." name="password">
                </div>
                <div class="row">
                      <input type="hidden" name="next" value="/backend/lst_devis/" />
                    <button type="submit" class="btn btn-primary btn-block">Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}