{% extends 'app/base.html' %}
{% block content %}

<style>
body {
    background-image: None;
}

</style>
<h3>Liste des devis</h3>
<br>
<table id="table" class="table table-bordered table-striped" style="background-color:white">
    <thead>
        <th style="display: none">ID</th>
        <th>NOM</th>
        <th>Create_at</th>
        <th>DATE-EVENT</th>
        <th>PRIX</th>
        <th>STATUS</th>
    </thead>
    <tbody>
    {% for event in all_event %}
        <tr onclick="location.href='{% url 'info_event' event.id %}';" style="cursor:pointer;">
            <td style="display: none" >{{event.id}}</td>
            <td>{{event.client.nom}}</td>
            <td>{{ event.created_at|date:"Y-m-d" }}</td>
            <td>{{event.event_details.date_evenement|date:"D d/m/Y" }}</td>
            <td>{{event.prix_proposed}}</td>
            <td class="status-cell" data-status="{{ event.status }}" >{{event.status}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<script type="text/javascript">
document.querySelectorAll('.status-cell').forEach(function(cell) {
    var status = cell.getAttribute('data-status');
    var color = ''; // Couleur par défaut
    switch (status) {
        case 'Calculed':
            color = 'rgba(232,183,133,0.65)'; // Jaune à 50% de transparence
            break;
        case 'Acompte OK':
            color = 'rgba(141,217,141,0.65)'; // Vert à 50% de transparence
            break;
        case 'Initied':
            color = 'rgba(255, 105, 180, 0.65)'; // Rose (pink) à 50% de transparence
            break;
        case 'Sended':
            color = 'rgba(80,139,243,0.6)'; // Orange à 50% de transparence
            break;
        case 'Presta FINI':
            color = 'rgba(46,127,0,0.65)'; // Jaune à 50% de transparence
            break;
        case 'Refused':
            color = 'rgba(215,99,99,0.76)'; // Jaune à 50% de transparence
            break;
        case 'ANNULER':
            color = 'rgba(215,99,99,0.76)'; // Jaune à 50% de transparence
            break;
    }
    cell.style.backgroundColor = color;
});

$(document).ready(function () {
    $('#table').DataTable({
        responsive: true,
        lengthChange: false,
        paging: false,
        searching: true,
        info: false,
        order: [[2, 'desc']], // Ajoutez cette ligne pour trier par la colonne des dates par ordre décroissant
        columnDefs: [
            {
                targets: 2, // Index de la colonne des dates (en commençant par 0)
                type: 'date' // Définit le type de la colonne pour le tri
            }
        ],
        columns: [
            { data: 'id', visible: false },
            { data: 'nom' },
            { data: 'created_at' },
            { data: 'date_event' },
            { data: 'prix' },
            { data: 'status' },
        ]
    });
});



</script>

{% endblock %}