{% extends 'app/base.html' %}
{% block content %}

<style>
body {
    background-image: None;
}

</style>
<h3>Liste des devis</h3>
<br>
<table id="table" class="table table-bordered table-striped" style="background-color:white">
    <thead>
        <th style="display: none">ID</th>
        <th>NOM</th>
        <th>DATE</th>
        <th>PRIX</th>
        <th>STATUS</th>
    </thead>
    <tbody>
    {% for event in all_event %}
        <tr onclick="location.href='{% url 'info_event' event.id %}';" style="cursor:pointer;">
            <td style="display: none" >{{event.id}}</td>
            <td>{{event.client.prenom}} {{event.client.nom}}</td>
            <td>{{event.event_details.date_evenement|date:"D d-m-Y" }}</td>
            <td>{{event.prix_proposed}}</td>
            <td>{{event.status}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<script type="text/javascript">
$(document).ready(function () {
    $('#table').DataTable({
        responsive: true, // Active la fonctionnalité responsive
        order: [[0, 'desc']],
        lengthChange: false,
        paging: false,
        searching: true,
        info: false,
        columns: [
            { data: 'id' },
            { data: 'nom' },
            { data: 'date' },
            { data: 'prix' },
            { data: 'status' },
        ]
    });
});

</script>

{% endblock %}