<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Titre de la page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1> <a href="https://trello.com/b/UyVMrXjp"> CHECKLIST </a></h1>
    <br>
    <table id="table" class="table table-bordered table-striped" style="background-color:white">
        <thead>
            <tr>
                <th>NOM</th>
                <th>J</th>
                <th>DATE-EVENT</th>
                <th>CP</th>
                <th>PRIX</th>
                <th>Acompte</th>
                <th>Restant</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td><a href="info-event/9060">Myriam Adli</a></td>
                <td>Sat</td>
                <td>2024-06-15</td>
                <td>60560</td>
                <td id="prix_valided">550</td>
                <td id="montant_acompte"></td>
                <td id="difference"></td>
            </tr>
            
            <tr>
                <td><a href="info-event/9129">Sofia Vielmon</a></td>
                <td>Sat</td>
                <td>2024-06-15</td>
                <td>60520</td>
                <td id="prix_valided">500</td>
                <td id="montant_acompte"></td>
                <td id="difference"></td>
            </tr>
            
            <tr>
                <td><a href="info-event/9090">Princy Mohanarajah</a></td>
                <td>Sun</td>
                <td>2024-06-16</td>
                <td>77176</td>
                <td id="prix_valided">550</td>
                <td id="montant_acompte"></td>
                <td id="difference"></td>
            </tr>
            
            <tr>
                <td><a href="info-event/9062">Eva Moultoux</a></td>
                <td>Tue</td>
                <td>2024-06-18</td>
                <td>60240</td>
                <td id="prix_valided">400</td>
                <td id="montant_acompte"></td>
                <td id="difference"></td>
            </tr>
            
        </tbody>
    </table>

    
    
        
            
            <br>
            <div class="date-block" style="background-color: #f0ad4e; padding: 10px;">
                <h3 class="text-center">June 15, 2024</h3>
            </div>
        
        <br>
        <h5><a href="info-event/9060">Myriam Adli</a></h5>
        <table class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Horraire</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ></td>
                    <td>rue bertelot, 60560 Orry la ville</td>
                </tr>
            </tbody>
        </table>
        <table id="table_produit" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Modele</th>
                    <th>Photobooth</th>
                    <th>Miroirbooth</th>
                    <th>360Booth</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >None</td>
                    <td >False</td>
                    <td  style="background-color: #c0c923;" >True</td>
                    <td >False</td>
                </tr>
            </tbody>
        </table>
        <table id="table_option" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>MurFloral</th>
                    <th>Phonebooth</th>
                    <th>LivreOr</th>
                    <th>Fond360</th>
                    <th>PanneauBienvenue</th>
                    <th>Holo3D</th>
                    <th>magnets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td  style="background-color: #308f00;" >True</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >0</td>
                </tr>
            </tbody>
        </table>
        <table id="table_commentaire" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Commentaire Client</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>None</td>
                    <td>None</td>
                </tr>
            </tbody>
        </table>
    
        
        <br>
        <h5><a href="info-event/9129">Sofia Vielmon</a></h5>
        <table class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Horraire</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ></td>
                    <td>Le Madison 609 Rue de Paris, 60520 La Chapelle-en-Serval</td>
                </tr>
            </tbody>
        </table>
        <table id="table_produit" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Modele</th>
                    <th>Photobooth</th>
                    <th>Miroirbooth</th>
                    <th>360Booth</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >None</td>
                    <td  style="background-color: #18a7d5;" >True</td>
                    <td >False</td>
                    <td >False</td>
                </tr>
            </tbody>
        </table>
        <table id="table_option" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>MurFloral</th>
                    <th>Phonebooth</th>
                    <th>LivreOr</th>
                    <th>Fond360</th>
                    <th>PanneauBienvenue</th>
                    <th>Holo3D</th>
                    <th>magnets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td  style="background-color: #308f00;" >True</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >0</td>
                </tr>
            </tbody>
        </table>
        <table id="table_commentaire" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Commentaire Client</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>None</td>
                    <td>None</td>
                </tr>
            </tbody>
        </table>
    
        
            
            <br>
            <div class="date-block" style="background-color: #5bc0de; padding: 10px;">
                <h3 class="text-center">June 16, 2024</h3>
            </div>
        
        <br>
        <h5><a href="info-event/9090">Princy Mohanarajah</a></h5>
        <table class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Horraire</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ></td>
                    <td>La Verriere 91, 77176 Fleury</td>
                </tr>
            </tbody>
        </table>
        <table id="table_produit" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Modele</th>
                    <th>Photobooth</th>
                    <th>Miroirbooth</th>
                    <th>360Booth</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >None</td>
                    <td  style="background-color: #18a7d5;" >True</td>
                    <td >False</td>
                    <td >False</td>
                </tr>
            </tbody>
        </table>
        <table id="table_option" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>MurFloral</th>
                    <th>Phonebooth</th>
                    <th>LivreOr</th>
                    <th>Fond360</th>
                    <th>PanneauBienvenue</th>
                    <th>Holo3D</th>
                    <th>magnets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >False</td>
                    <td  style="background-color: #308f00;" >True</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >0</td>
                </tr>
            </tbody>
        </table>
        <table id="table_commentaire" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Commentaire Client</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>None</td>
                    <td>None</td>
                </tr>
            </tbody>
        </table>
    
        
            
            <br>
            <div class="date-block" style="background-color: #d9534f; padding: 10px;">
                <h3 class="text-center">June 18, 2024</h3>
            </div>
        
        <br>
        <h5><a href="info-event/9062">Eva Moultoux</a></h5>
        <table class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Horraire</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ></td>
                    <td>, 60240 Bouconvillers.</td>
                </tr>
            </tbody>
        </table>
        <table id="table_produit" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Modele</th>
                    <th>Photobooth</th>
                    <th>Miroirbooth</th>
                    <th>360Booth</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >None</td>
                    <td  style="background-color: #18a7d5;" >True</td>
                    <td >False</td>
                    <td >False</td>
                </tr>
            </tbody>
        </table>
        <table id="table_option" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>MurFloral</th>
                    <th>Phonebooth</th>
                    <th>LivreOr</th>
                    <th>Fond360</th>
                    <th>PanneauBienvenue</th>
                    <th>Holo3D</th>
                    <th>magnets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >False</td>
                    <td >0</td>
                </tr>
            </tbody>
        </table>
        <table id="table_commentaire" class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Commentaire Client</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>None</td>
                    <td>None</td>
                </tr>
            </tbody>
        </table>
    
    
</div>

</body>
</html>
